﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Blank_Layout.cshtml";
}

<style>
    .or-seperator {
        margin: 50px 0 15px;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }

        .or-seperator b {
            padding: 0 10px;
            width: 40px;
            height: 40px;
            font-size: 16px;
            text-align: center;
            line-height: 40px;
            background: #fff;
            display: inline-block;
            border: 1px solid #e0e0e0;
            border-radius: 50%;
            position: relative;
            top: -22px;
            z-index: 1;
        }

    .social-btn .btn {
        color: #fff;
        margin: 10px 0 0 15px;
        font-size: 15px;
        border-radius: 50px;
        font-weight: normal;
        border: none;
        transition: all 0.4s;
    }

        .social-btn .btn:first-child {
            margin-left: 0;
        }

        .social-btn .btn:hover {
            opacity: 0.8;
        }

    .social-btn .btn-primary {
        background: #507cc0;
    }

    .social-btn .btn-info {
        background: #64ccf1;
    }

    .social-btn .btn-danger {
        background: #df4930;
    }

    .social-btn .btn i {
        float: left;
        margin: 3px 10px;
        font-size: 20px;
    }
</style>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
                    <div class="login-brand">
                        <img src="~/assets/img/car.png" alt="logo" width="100" class="shadow-light">
                    </div>
                    <div class="card card-primary">
                        <div class="card-header"><h4>Login</h4></div>
                        <div class="card-body">
                            <form method="POST" action="#" class="needs-validation" novalidate="">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="email" tabindex="1" required autofocus>
                                    <div class="invalid-feedback">
                                        Please fill in your email
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="d-block">
                                        <label for="password" class="control-label">Password</label>
                                        <div class="float-right">
                                            <a href="auth-forgot-password.html" class="text-small">
                                                Forgot Password?
                                            </a>
                                        </div>
                                    </div>
                                    <input id="password" type="password" class="form-control" name="password" tabindex="2" required>
                                    <div class="invalid-feedback">
                                        please fill in your password
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="remember" class="custom-control-input" tabindex="3" id="remember-me">
                                        <label class="custom-control-label" for="remember-me">Remember Me</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block" tabindex="4">
                                        Login
                                    </button>
                                </div>
                            </form>
                            <div class="text-center mt-4 mb-3">
                                <div class="text-job text-muted">Login With Social</div>
                            </div>
                            <div class="social-btn text-center">


                                <a href="#" class="btn btn-primary btn-lg"><i class="fab fa-facebook"></i> Facebook</a>

                                <a href="#" class="btn btn-danger btn-lg"><i class="fab fa-google"></i> Google</a>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5 text-muted text-center">
                        Don't have an account? <a href="@Url.Action("Register", "Account")">Create One</a>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; Law Application <span id="year"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>