﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Blank_Layout.cshtml";
}
<script type="text/javascript">
    function hide() {
        var FirstNametxt = document.getElementById('first_name');
        var FirstNamelbl = document.getElementById('first_namelbl');

        var dateofBirthDiv = document.getElementById('DateofBirthDiv');
        var IdnumberDiv = document.getElementById('IDNumberDiv');

        var addressDiv = document.getElementById('AddressDiv');
        var PrISAnumberDiv = document.getElementById('PRISAnumberDiv');

        

        var bankDiv = document.getElementById('BankDetailsDiv');

        if (document.getElementById('Patron').checked)
        {
            dateofBirthDiv.style.display = "";
            IdnumberDiv.style.display = "none";
            addressDiv.style.display = "none";
            PrISAnumberDiv.style.display = "none";
            bankDiv.style.display = "none";
        }
        else if (document.getElementById('Admin').checked)
        {
            dateofBirthDiv.style.display = "none";
            IdnumberDiv.style.display = "";
            addressDiv.style.display = "";
            PrISAnumberDiv.style.display = "";
            bankDiv.style.display = "";
           
        }
    }


</script>

<style>
    .or-seperator {
        margin: 50px 0 15px;
        text-align: center;
        border-top: 1px solid #e0e0e0;
    }
    .or-seperator b {
	padding: 0 10px;
	width: 40px;
	height: 40px;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -22px;
	z-index: 1;
}
.social-btn .btn {
	color: #fff;
	margin: 10px 0 0 15px;
	font-size: 15px;
	border-radius: 50px;
	font-weight: normal;
	border: none;
	transition: all 0.4s;
}	
.social-btn .btn:first-child {
	margin-left: 0;
}
.social-btn .btn:hover {
	opacity: 0.8;
}
.social-btn .btn-primary {
	background: #507cc0;
}
.social-btn .btn-info {
	background: #64ccf1;
}
.social-btn .btn-danger {
	background: #df4930;
}
.social-btn .btn i {
	float: left;
	margin: 3px 10px;
	font-size: 20px;
}

</style>
<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="login-brand" href="/Home/Index">
                        <a href="@Url.Action("Login", "Account")">
                            <img src="../assets/img/stisla-fill.svg" alt="logo" width="100" class="shadow-light rounded-circle">
                        </a>                        
                    </div>
                    <div class="card card-primary">
                        <div class="card-header"><h4>Register</h4></div>
                        <div class="card-body">
                            <form method="POST" action="#" class="needs-validation" novalidate="">
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label class="form-label">I am</label>
                                        <div class="selectgroup w-100">
                                            <label class="selectgroup-item">
                                                <input type="radio" id="Patron" name="value" value="50" class="selectgroup-input" checked="" onclick="hide();">
                                                <span class="selectgroup-button">Patron</span>
                                            </label>
                                            <label class="selectgroup-item">
                                                <input type="radio" id="Admin" name="value" value="100" class="selectgroup-input" onclick="hide();">
                                                <span class="selectgroup-button">Admin</span>
                                            </label>
                                            @*<label class="selectgroup-item">
                                                <input type="radio" id="client" name="value" value="150" class="selectgroup-input" onclick="hide();">
                                                <span class="selectgroup-button">Client</span>
                                            </label>*@
                                        </div>
                                    </div>
                                </div>

                                <div class="social-btn text-center">
                              

                                    <a href="#" class="btn btn-primary btn-lg"><i class="fab fa-facebook"></i> Facebook</a>
                                  
                                    <a href="#" class="btn btn-danger btn-lg"><i class="fab fa-google"></i> Google</a>
                                </div>
                                <div class="or-seperator"><b>or</b></div>

                                <div class="form-divider">
                                    Your Details
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="first_name" id="first_namelbl">First Name</label>
                                        <input id="first_name" type="text" class="form-control" name="first_name" required autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in your Name
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="last_name">Last Name</label>
                                        <input id="last_name" type="text" class="form-control" name="last_name" required autofocus>
                                        <div class="invalid-feedback">
                                            Please fill in your Surname
                                        </div>
                                    </div>
                                </div>
                              
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="phone_number">Phone Number</label>
                                        <input id="phone_number" type="text" class="form-control" name="phone_number" autofocus>
                                    </div>
                                    <div class="form-group col-6" id="DateofBirthDiv">
                                        <label for="DateofBirth">Date of Birth</label>
                                        <input id="IDNumber" type="text" class="form-control" name="location">
                                    </div>

                                    <div class="form-group col-6" id="IDNumberDiv" style="display:none">
                                        <label for="IDNumber">ID number</label>
                                        <input id="IDNumber" type="text" class="form-control" name="location">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-6" id="AddressDiv" style="display:none">
                                        <label for="Address">Address</label>
                                        <input id="Address" type="text" class="form-control" name="phone_number" autofocus>
                                    </div>
                                    <div class="form-group col-6" id="PRISAnumberDiv" style="display:none" >
                                        <label for="PRISAnumber">PRISA number</label>
                                        <input id="PRISAnumber" type="text" class="form-control" name="location">
                                    </div>

                                  
                                </div>


                                <div id="BankDetailsDiv" style="display:none">
                                    <div class="label-default">
                                        Banking details
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-6" id="AddressDiv">
                                            <label for="bankName">Bank Name</label>
                                            <input id="bankName" type="text" class="form-control" name="phone_number" autofocus>
                                        </div>
                                        <div class="form-group col-6" id="PRISAnumberDiv">
                                            <label for="PRISAnumber">Card Number</label>
                                            <input id="PRISAnumber" type="text" class="form-control" name="location">
                                        </div>

                                        <div class="form-group col-6" id="AddressDiv">
                                            <label for="bankName">Expiry Date</label>
                                            <input id="bankName" type="text" class="form-control" name="phone_number" autofocus>
                                        </div>
                                        <div class="form-group col-6" id="PRISAnumberDiv">
                                            <label for="PRISAnumber">CVV Number</label>
                                            <input id="PRISAnumber" type="text" class="form-control" name="location">
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="email" required autofocus>
                                    <div class="invalid-feedback">
                                        Please fill in your Email-Address
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="password" class="d-block">Password</label>
                                        <input id="password" type="password" class="form-control pwstrength" data-indicator="pwindicator" name="password">
                                        <div id="pwindicator" class="pwindicator">
                                            <div class="bar"></div>
                                            <div class="label"></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="password2" class="d-block">Password Confirmation</label>
                                        <input id="password2" type="password" class="form-control" name="password-confirm">
                                    </div>
                                </div>
                          
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="agree" class="custom-control-input" id="agree">
                                        <label class="custom-control-label" for="agree">I agree with the terms and conditions</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">
                                        Register
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; Car Guard Application <span id="year"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>